@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 6px;
    /*height: 8px;*/
    background-color: #737373; /* or add it to the track */
}

::-webkit-scrollbar-thumb {
    background: #323232;
}